body,html {
    margin: 0;
    padding: 0;

    /*TODO: Add some nicer background*/
    font-family: "Roboto", sans-serif;

    background-image: url("assets/skyline_bg_image.jpg");
    /*src: https://www.vecteezy.com/vector-art/7636142-city-skyline-silhouette-design-vector*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;

}

#container {
    width: 100vw;
    height: 100vh;

    padding: 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    gap:0;

    justify-content: start;
    align-items: center;
}

#buttons_div {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;

    padding-top: 1.25vw;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10%;

    justify-content: center;
    align-items: center;
}

#search_button, #reset_button {
    max-width: 128px;
    max-height: 32px;
    min-width: 100px;
    min-height: 28px;

    border-radius: 0;
    border: none;

    color: white;

    font-weight: normal;
    font-size: large;

    &:disabled {
        background-color: gray;
        cursor: not-allowed;
    }

    &:hover {
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
            background-color: gray;
        }
    }
}

#search_button {
    background-color: rebeccapurple;

    &:hover {
        background-color: #47236b;
    }
}

#reset_button {
    background-color: darkorange;

    &:hover {
        background-color: #cc7000;
    }
}

#main_header {
    color: rebeccapurple;
    padding: 0;
    margin-bottom: 0.5vh;
}

#content_header {
    margin-top: 0.2vh;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    padding: 1%;
    min-width: 60%;
    max-width: 100%;
}